@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Noto+Sans+JP:wght@100;400&display=swap');

#gatsby-focus-wrapper {
  width: 100%;
  height: 100%;
  background-color: #EFEFEF;
}

#___gatsby {
  width: 100%;
  height: 100%;
}

p, a, div, h1, h2, h3, h4 {
  font-family: "Noto Sans JP", Helvetica , "游ゴシック", sans-serif;
}

// ----- prismjs -----
// tailwindcss/typographyを使っているのでproseクラス以下のコードハイライトという前提
.prose {
  code {
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", "Noto Sans JP", Helvetica , "游ゴシック", sans-serif;
  }
  // 各種言語の数字
  code[class*="language-"] {
    .token.number {
      margin-right: initial;
      min-width: initial;
      padding: initial;
      background-color: initial;
      border-radius: initial;
      display: initial;
      font-size: initial;
    }
  }

  // tsx内のHTMLタグ
  code.language-tsx {
    .token.tag {
      margin-right: initial;
      padding: initial;
    }
  }

  // Markdown内のタイトル
  code.language-markdown {
    .token.title {
      font-size: 1em;
    }
  }

  // デフォルトだと影が濃かったので打ち消すための設定
  pre[class*="language-"]::before, pre[class*="language-"]::after {
    box-shadow: 0px 0px 0px #979797;
  }

  // 基本的に行番号は表示
  pre[class*="language-"] > code {
    background-color: initial;
    padding: 0;
  }
  .line-numbers-rows {
    background-color: #efefef;
  }

  // 行数表示箇所
  .line-numbers-rows > span::before {
    width: 2em;
    margin-left: 0.4em;
    padding-right: 0.4em;
    margin-right: 0;
    font-family: "JetBrains Mono", "Noto Sans JP", Helvetica , "游ゴシック", sans-serif;
  }

  .line-numbers .line-numbers-rows {
    border-right: 0.3em solid #e6e6e6;
  }

  pre[class*="language-"].line-numbers.line-numbers code {
    padding-left: 2.2em;
  }

  // text, shellの場合のみ行番号は表示させない
  pre.language-shell.line-numbers.line-numbers code, pre.language-text.line-numbers.line-numbers code {
    padding-left: 0.1em;
  }
  pre.language-shell.line-numbers .line-numbers-rows, pre.language-text.line-numbers .line-numbers-rows {
    display: none;
  }

  // highlight
  .gatsby-highlight-code-line {
    background-color: #ff1df024;
    display: block;
  }

  // -なのはハイライトしてない部分との縦線の位置を合わせるため
  span.gatsby-highlight-code-line::before {
    position: relative;
    left: -4px;
    border: 0.17em solid #c1006d;
    content: "";
  }

  // -なのはハイライトしてない部分とのコード位置を合わせるため
  span.gatsby-highlight-code-line {
    position: relative;
    left: -0.17em;
  }
}
// ----- prismjs -----

// ----- AlgoliaSearch -----
.popover {
  max-height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 100%;
  margin-top: 0.5em;
  width: 100vw;
  max-width: 50em;
  box-shadow: 0 0 5px 0;
  padding: 1em;
  border-radius: 2px;
  background: #FCFCFC;
}

.search-root {
  position: relative;
  margin: 0.6em 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0;
}
.search-input {
  display: flex;
  flex-direction: row-reverse;
  // align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  width: 20em;
  outline: none;
  font-size: 1em;
  transition: 100ms;
  border-radius: 2px;
  position: relative;
}
.search-input ::placeholder {
  color: #CCCCCC;
}

.open, .open > input{
  width: 10em;
  background: #FFFFFF;
  border: auto;
  cursor: text;
  margin-left: -1.6em;
  padding-left: 1.6em;

}
.close, .close > input{
  width: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: -1em;
  padding-left: 1em;
}
.search-icon {
  width: 1.2em;
  height: 1.2em;
  fill: #DBDBDB;
  pointer-events: none;
}
.search-button {
  background: transparent;
  cursor: pointer;
  border: none;
  color: #DBDBDB;
}

.reset-button {
  display: none;
}

.search-result-list {
  list-style-type: none;
}

.search-result-item {
  border-top: 1px solid #979797;
}

.search-result-item-snippet {
  padding-left: 1em;
  padding-right: 1em;
  color: #979797;
  font-size: 0.7em;
}

// ----- AlgoliaSearch -----

.prose {
  table {
    border: 1px solid #cccccc;
  }

  th {
    background-color: #efefef;
    font-weight: bold;
    border: 1px solid #cccccc;
  }

  tr:nth-child(odd) {
    background-color: #FFFFFF;
  }

  tr:nth-child(even) {
    background-color: #f6f8fb;
  }

  td, th {
    border: 1px solid #cccccc;
  }

  td[align="left"], th[align="left"] {
    padding: 0.1em 0.5em;
    text-align: left;
  }
  td[align="right"], th[align="right"] {
    padding: 0.1em 0.5em;
    text-align: right;
  }
  td[align="center"], th[align="center"] {
    padding: 0.1em 0.5em;
    text-align: center;
  }
}
