name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: build
        # dummy ID
        env:
          GOOGLE_ANALYTICS_TRACKING_ID: UA-hoge
          GOOGLE_TAGMANAGER_TRACKING_ID: G-hoge
          GATSBY_CPU_COUNT: logical_cores
        run: |
          pnpm install
          pnpm build

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: typecheck
        run: |
          pnpm install
          pnpm typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: test
        # dummy ID
        env:
          GOOGLE_ANALYTICS_TRACKING_ID: UA-hoge
          GOOGLE_TAGMANAGER_TRACKING_ID: G-hoge
        run: |
          pnpm install
          pnpm test

  eslint:
    runs-on: ubuntu-latest
    name: run eslint
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: lint check eslint
        run: |
          pnpm install
          pnpm lint:es

  prettier:
    runs-on: ubuntu-latest
    name: run prettier check
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: lint check eslint
        run: |
          pnpm install
          pnpm lint:format
