name: lint content

on:
  push:
    paths:
      - 'content/blog/**/*.md'

jobs:
  textlint:
    runs-on: ubuntu-latest
    name: run textlint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.1.0
        with:
          node-version-file: .node-version
          cache: yarn
      - name: lint check markdown
        run: |
          yarn
          yarn lint:md

