name: lint content

on:
  push:
    paths:
      - 'content/blog/**/*.md'

jobs:
  textlint:
    runs-on: ubuntu-latest
    name: run textlint
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: lint check markdown
        run: |
          pnpm install
          pnpm lint:md
