name: Playwright Tests
on:
  push:
    paths-ignore:
      - 'content/blog/**/*.md'
  pull_request:
    paths-ignore:
      - 'content/blog/**/*.md'

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.1.0
        with:
          node-version-file: .node-version
          cache: yarn

      - name: Install Dependencies
        run: yarn

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Build
        env:
          END_DATE: 2023-11-01
        run: yarn build

      - name: Run Playwright tests
        env:
          DEBUG: pw:webserver
        run: yarn vrt

      - uses: actions/upload-artifact@v4.6.0
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
