name: Playwright Tests
on:
  push:
    paths-ignore:
      - 'content/blog/**/*.md'
  pull_request:
    paths-ignore:
      - 'content/blog/**/*.md'

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps

      - name: Build
        env:
          END_DATE: 2023-11-01
        run: pnpm build

      - name: Run Playwright tests
        env:
          DEBUG: pw:webserver
        run: pnpm vrt

      - uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
